.row {
  display: flex;
  height: calc(100vh / 12);
}

.col {
  outline: 1px solid black;
  width: calc(100vw / 12);
}

.col.step {
  background-color: whitesmoke;
}

.col.toggled {
  background-color: black;
}

.col.active {
  background-color: salmon;
}
